# Various IDEs and Editors
.vscode/
.idea/
**/*~
wasm_files

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# rust
target/

**declarations

# frontend code
**node_modules/
dist/
src/frontend/.DS_Store
src/frontend/node_modules
src/frontend/build
src/frontend/package
src/frontend/.env
src/frontend/.env.*
src/frontend/.env.example

# environment variables
.env
